.todo-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    height: 52px;
    background: rgba(231, 191, 158, 0.292);
    border-radius: 10px;
}

.todo-item li {
    align-items: left;
}

.todo-item-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.todo-item--complete {
    background: rgba(192, 225, 215, 0.4);
}

.todo-item-p--complete {
    text-decoration: line-through;

}

.Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: right;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;

}

.Icon-check {
    position: absolute;
    left: 12px;
    width: 32px;
    height: 33px;
    border: solid;
    border-radius: 30px;
    color: rgba(238, 117, 61, 0.61);
}

.Icon-check--active {
    color: #C0E1D7;
}

.Icon-delete {
    position: absolute;
    right: 0;
}

.Icon-delete:hover {
    color: rgb(236, 148, 47);
}