.App {
  background-image: url("https://media.istockphoto.com/photos/abstract-beautiful-colorful-watercolor-illustration-painting-and-picture-id1044884470?k=20&m=1044884470&s=612x612&w=0&h=oiSacLw49YukwZBV4d-ymAy55GV98tPyN6CDAyPLvWY=");
  min-height: 100vh;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: screen;

}
