main {
  display: flex;
  flex-direction: row;
}

.create-task {
  width: 448px;
  height: 614px;
  left: 63px;
  top: 71px;

  background: #FFFDFC;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  margin-left: 63px;
  margin-top: 71px;
  margin-bottom: 20px;
}

.to-do-section {
  margin-left: 80px;
  align-items: center;
}