main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

@media only screen and (max-width: 1028px) {
  main {
    flex-direction: column;
  }

  .to-do-section { 
    order: 1;
    margin-bottom: 40px;
  }
}

.to-do-section {
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}


.todo-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}