.TitleTodoCounter{
    font-size: 35px;
    color: rgb(8, 8, 8);
    text-align: right;

}
h2.TodoCounter{
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: right;

}

.TodoCounter{
    font: size 13px;
    text-align: center;
    margin-top: 1px;

}
